
/* GLOBAL STYLES
-------------------------------------------------- */

@font-face {
	font-family: 'Quattrocento';
    src: url('../fonts/quattrocento/Quattrocento-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Quattrocento';
    src: url('../fonts/quattrocento/Quattrocento-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

body {
	background-image: url("/img/retina_wood.png");
	background-repeat: repeat;
	color: #5a5a5a;
    font-family: 'Quattrocento', serif;
}

h1 {
    font-family: 'Oswald', serif;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'Oswald', serif;
    font-weight: lighter;
}

h3 {
    font-family: 'Oswald', serif;
    font-weight: bold;
}

a:hover {
	text-decoration: none;
}

.main {
	margin-top: 8rem;
}
.error {
    color: red;
    font-family: 'Oswald', serif;
    font-size: 2em;
}


/* CUSTOM NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-nav > li {
	vertical-align: center;
}



/* CUSTOM CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: -3rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

.carousel-caption > h1 {
	font-size: 6rem;
}

.carousel-caption > h2 {
	font-size: 3rem;
}

/* LANDING PAGE STYLING FOR LISTINGS
-------------------------------------------------- */

/*Landing page listing styling*/
.listing {
  	text-align: center;
  	padding-top: 2rem;
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
  	padding-bottom: 2rem;
  	max-height: 100%;
}

.listing-landing {
	background-color: #FFFFFF;
	border-radius: 4px;
}


/* STYLING FOR LISTINGS AND PAGES ELSEWHERE
-------------------------------------------------- */

.listing-wrapper {
	background-color: #FFFFFF;
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin-top: 7rem;
	border-radius: 4px;
}

.listing-wrapper > h1 {
	color: #d9534f;
	font-size: 4rem;
}

.listing-wrapper > p {
	width: 49%;
}


/* CUSTOM FOOTER
-------------------------------------------------- */

.footer {
	background-color: #dedede;
	padding-bottom: 4rem;

}

.footer-container {
	margin: 0 auto;
	width: 100%;
	max-width: 570px;
	padding: 0 15px;
}

.text-muted {
  margin: 20px 0;
}

nav > .pager > .btn .btn-default {
	border-color: orange;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}


/* CUSTOM LOGIN
-------------------------------------------------- */

.loginFormFloat {
	float: left;
}

.loginFormFloat > h1 {
	color: #d9534f;
	font-size: 4rem;
}

.loginFormFloat > h2 {
	margin-top: 4rem;
	margin-left: 1rem;
}
.loginFormFloat > form {
	margin-left: 1rem;
}

.loginFormFloat > form > .row {
	margin-top: 2.2rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
	.listing-wrapper {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.listing-wrapper > p {
		width: 100%;
	}
}


@media (min-width: 768px) {

	/* Navbar positioning */
	.navbar-wrapper {
		margin-top: 20px !important;
	}

	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
		border-radius: 4px;
	}

	.navbar {
		margin-left: -15px;
		margin-right: -15px;
	}

	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.listing-wrapper {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	
	.listing-wrapper > img {
		float: right;
		margin-left: 15px;
		margin-bottom: 30px;
	}
}


@media (min-width: 992px) {

	.listing-wrapper {
		padding-left: 10rem;
		padding-right: 10rem;
	}
}


@media (min-width: 1200px) {

	.listing-wrapper {
		padding-left: 16rem;
		padding-right: 16rem;
	}
}
